@model EPolis.Models.PerusahaanAsuransi

@{
    ViewData["Title"] = "Details";
}

<center><h2>Detail Data Perusahaan Asuransi</h2></center>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KODEPERUSAHAAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KODEPERUSAHAAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAMAPERUSAHAAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAMAPERUSAHAAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ALAMAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ALAMAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOTLP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOTLP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOFAX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOFAX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTACTPERSON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTACTPERSON)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Kembali</a>
</div>
