@model IEnumerable<EpolisParam.Models.Mbroker>

@{
    ViewData["Title"] = "Index";
}


<center><h2>DAFTAR BROKER</h2></center>

<p>
    <a asp-action="Create" class="btn-lg btn-add fa fa-plus"> Tambah Baru</a>
</p>
<table class="table table-bordered table-responsive" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KODEBROKER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAMABROKER)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ALAMAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOTLP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOFAX)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CONTACTPERSON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.UPDATEDBY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UPDATEDATE)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KODEBROKER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAMABROKER)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ALAMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTLP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOFAX)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CONTACTPERSON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.UPDATEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATEDATE)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit"></a> |
                <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-edit fa fa-eye"></a> |
                <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-edit fa fa-trash"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
